.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-dialog {
  position: fixed;
  position: relative;
  background: white;
  width: 60%;
  height: auto;
  padding: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-transform: capitalize;
}

.close-icon {
  position: absolute;
  cursor: pointer;
  right: 1rem;
  top: 1rem;
}
